@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="@ButtonClass" @onclick="IncrementCount">Increase</button>
<button class="@ButtonClass" @onclick="DecrementCount">Decrease</button>
<button class="@ButtonClass" @onclick="ResetCount">Reset</button>

@code {
    private int currentCount = 0;
    
    private string ButtonClass
    {
        get
        {
            if (currentCount < 0) return "btn btn-danger";
            if (currentCount > 0) return "btn btn-success";
            return "btn btn-warning";
        }
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }

    private void ResetCount()
    {
        currentCount = 0;
    }

   
}